@import url('../../vendor/normalize.css');
@import url('../../vendor/fonts/fonts.css');

.root {
  background-color: white;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #202020;
  box-sizing: border-box;
}
/*
* {
  outline: 1px solid red;
}
*/
