.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 74px;
  box-sizing: border-box;
  padding: 0 70px;
}

.header_type_promo {
  background-color: #073042;
}

.header__nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__nav-wrapper_type_auth {
  gap: 50px;
}

@media (max-width: 900px) {
  .header {
    padding: 0 30px;
  }
}

@media (max-width: 444px) {
  .header {
    padding: 0 14px;
  }
}
