.nav-tab {
	background: #272727;

	padding: 24px 0;
}

.nav-tab__list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
	list-style: none;
	padding: 0;
}

.nav-tab__link {
	color: white;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	text-decoration-line: underline;
	transition: .3s ease;
}

.nav-tab__link:hover {
	opacity: .7;
}
